# SPDX-FileCopyrightText: 2022-2026 Chris Montgomery <chmont@protonmail.com>
# SPDX-License-Identifier: CC0-1.0

# Data/logs/testing
*.cache
.data/
.direnv/
*.log
nix.profile
*.sql
*.tmp
tmp/

# Secrets
auth.json
.env
.env.*
!.env.example
*.key
ops/keys/ssh/*
!ops/keys/ssh/*.pub
.ssh

# Dependencies
node_modules/
vendor/

# Context-specific
*.local
*.local.*
!*.local*.example

# Build artifacts
*.qcow2
*.img
build
hot
result
target

# Editor
.idea/

# Generated
.pre-commit-config.yaml
