/* https://docs.gtk.org/gtk4/css-overview.html */

/* ========================================================================
   Custom Properties
   ======================================================================== */

/* Color Palette
   ======================================================================== */

:root {
  color-scheme: light dark;

  /* Penumbra <https://github.com/nealmckee/penumbra> */
  --color-shade-minus: #24272b;
  --color-shade: #303338;
  --color-shade-plus: #3e4044;
  --color-sky-minus: #636363;
  --color-sky: #8f8f8f;
  --color-sky-plus: #bebebe;
  --color-sun-minus: #f2e6d4;
  --color-sun: #fff7ed;
  --color-sun-plus: #fffdfb;
  --color-red: #ca736c;
  --color-orange: #ba823a;
  --color-yellow: #8d9741;
  --color-green: #47a477;
  --color-cyan: #00a2af;
  --color-blue: #5794d0;
  --color-purple: #9481cc;
  --color-magenta: #bc73a4;

  /* Base Colors (Dark) */
  --base00: var(--color-shade-minus);
  --base01: var(--color-shade);
  --base02: var(--color-shade-plus);
  --base03: var(--color-sky-minus);
  --base04: var(--color-sky);
  --base05: var(--color-sky-plus);
  --base06: var(--color-sun);
  --base07: var(--color-sun-plus);

  /* Accent Colors */
  --base08: var(--color-red);
  --base09: var(--color-orange);
  --base0A: var(--color-yellow);
  --base0B: var(--color-green);
  --base0C: var(--color-cyan);
  --base0D: var(--color-blue);
  --base0E: var(--color-purple);
  --base0F: var(--color-magenta);
}

/* FIXME: ironbar does not currently support `prefers-color-scheme:
   dark`, but somehow respects `prefers-color-scheme: light` (or maybe
   it simply ignores the media query and still uses the styles within?).
   */
/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     /\* Base Colors (Light) *\/ */
/*     --base00: var(--color-sun-plus); */
/*     --base01: var(--color-sun); */
/*     --base02: var(--color-sun-minus); */
/*     --base03: var(--color-sky-plus); */
/*     --base04: var(--color-sky); */
/*     --base05: var(--color-sky-minus); */
/*     --base06: var(--color-shade); */
/*     --base07: var(--color-shade-minus); */
/*   } */
/* } */

:root {
  --color-text: var(--base04);
  --color-text-supplemental: var(--base03);
  --color-text-highlighted: var(--base07);

  --color-border: var(--base02);
  --color-border-plus: var(--base07);

  --color-background: var(--base01);
  --color-background-minus: var(--base00);
  --color-background-plus: var(--base02);

  --color-interface-control: var(--base04);
  --color-highlight: var(--base06);
}

/* Customization
   ======================================================================== */

:root {
  --font-size: 11px;
  --border-radius: 0;

  --bar-height: 18px; /* Defined in config */
  --bar-margin: 6px; /* Defined in config */
  --bar-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);

  --section-gap: 0;
}

/* ========================================================================
   General
   ======================================================================== */

* {
  color: var(--color-text);
  font-family: "Berkeley Mono", "Symbols Nerd Font";
  font-size: var(--font-size);
}

#bar,
popover,
popover contents,
calendar,
popover .view {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
}

.background {
  background-color: transparent;
}

button {
  background-color: transparent;
  border-radius: 0;
  /* Override libadwaita. */
  min-height: var(--bar-height);
  padding: 0 0.5rem;
}

button label {
  font-weight: normal;
}

button:hover,
button:active {
  background-color: var(--color-interface-control);
}

button:hover label,
button:hover .icon,
button:active label,
button:active .icon {
  color: var(--color-text-highlighted);
}

popover,
popover contents {
  border: none;
}

switch {
  margin: 0 0.75em;
}

switch:first-child {
  margin-left: 0;
}

switch:last-child {
  margin-right: 0;
}

tooltip {
  border-radius: var(--border-radius);
}

.popup {
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
}

window,
popover {
  background-color: transparent;
}

popover contents {
  background: var(--color-background-plus);
  border-radius: 12px;
}

scale > trough {
  background-color: var(--color-background-minus);
}

scale > trough > highlight {
  background-color: var(--color-highlight);
  border-style: solid;
  border-color: var(--color-highlight);
  border-width: 0.2em;
}

scale > trough > slider {
  background-color: var(--color-interface-control);
}

switch > slider {
  background-color: var(--color-interface-control);
}

switch:checked {
  background-color: var(--color-highlight);
}

switch:not(:checked) {
  background-color: var(--color-interface-control);
}

.widget {
  background: var(--color-background);
}

/* ========================================================================
   Power Management
   ======================================================================== */

.power-menu {
  padding-right: 0;
}

/* ========================================================================
   Applications Menu
   ======================================================================== */

.menu {
  border-right: 2px solid var(--color-border);
}

.menu:hover,
.menu:active {
  background-color: var(--color-highlight);
}

/* ========================================================================
   Workspaces
   ======================================================================== */

.workspaces {
  margin: 0;
  border-right: 1px solid var(--color-border);
  padding: 0;
}

.workspaces .item {
  padding: 0 0.5rem;
}

.workspaces .item:first-child {
  padding-left: 0.75rem;
}

.workspaces .item:last-child {
  padding-right: 0.75rem;
}

.workspaces .item.focused {
  background-color: var(--color-border);
  border-bottom: 1px solid var(--color-highlight);
  /* Visual alignment. */
  padding-top: 0.25em;
}

/* ========================================================================
   Focused
   ======================================================================== */

.widget.focused {
  padding: 0 1rem 0 0.75rem;
  border-right: 1px solid var(--color-border);
}

/* ========================================================================
   Network
   ======================================================================== */

.network_manager {
  border-left: 1px solid var(--color-border);
  padding-left: 1rem;
  padding-right: 0;
}

.network_manager .icon {
  color: var(--color-text);
}

/* ========================================================================
   Bluetooth
   ======================================================================== */

.bluetooth {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.popup-bluetooth {
  padding: 0.25rem;
}

.popup-bluetooth .header {
  margin-bottom: 1rem;
}

.popup-bluetooth .header .label {
  font-size: 1.1rem;
}

.popup-bluetooth .device {
  margin-bottom: 0.5rem;
}

.popup-bluetooth .device .status .header-label,
.popup-bluetooth .device .status .footer-label {
  font-size: 0.8rem;
}

.popup-bluetooth .device .icon-box {
  margin-right: 0.75em;
}

/* ========================================================================
   Volume
   ======================================================================== */

.volume {
  padding-left: 0;
  padding-right: 0.5rem;
}

/* ========================================================================
   System Info
   ======================================================================== */

.sysinfo {
  border: 1px solid var(--color-border);
  border-top: none;
  border-bottom: none;
  padding: 0 0.5rem;
}

/* ========================================================================
   Battery
   ======================================================================== */

.battery {
  border: 1px solid var(--color-border);
  border-top: none;
  border-bottom: none;
  padding-left: 0.5rem;
}

.battery label,
.battery .icon {
  color: var(--color-red);
}

/* ========================================================================
   Tray
   ======================================================================== */

.tray {
  margin-left: var(--section-gap);
  border: 1px solid var(--color-border);
  border-top: none;
  border-bottom: none;
  padding: 0;
}

.tray .item {
  padding: 0 0.3333333333rem;
}

.tray .item:first-child {
  padding-left: 0.75rem;
}

.tray .item:last-child {
  padding-right: 0.75rem;
}

/* ========================================================================
   Clipboard
   ======================================================================== */

.clipboard {
  border-right: 1px solid var(--color-border);
  padding-left: 0.5rem;
  padding-right: 0.75rem;
}

.clipboard label {
  font-size: 1.2em;
}

/* ========================================================================
   Clock
   ======================================================================== */

.clock {
  border-right: 1px solid var(--color-border);
  padding-left: 0.75rem;
}

.clock label {
  color: var(--color-green);
  font-size: 14px;
  font-weight: bold;
}
